#container {
  display: flex;
  width: 500px;
  flex-direction: column;
  height:700px;
  justify-content: center;
  align-items: center;
  border:1px solid;
}
/* flex-grow : 1; // this means that the div will grow in same proportion as the window-size
flex-shrink : 1; // this means that the div will shrink in same proportion as the window-size
flex-basis : 0; // this means that the div does not have a starting value as such and will take
up screen as per the screen size available for.
e.g:- if 3 divs are in the wrapper then each div will take 33%. */
.child {
  width:200px;
  height:200px;
  /* flex: 1; */
}
#child1 {
  background-color: red;
  /* flex:2 */
}
#child2 {
  background-color: green;
}

#child3 {
  background-color: blue;
}
